:root {
  --swiper-theme-color: #FECB0B;
  --primary-color: #FECB0B;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  direction: rtl;
  font-family: IRANYekan, sans-serif !important;
}

.dir-ltr {
  direction: ltr;
}

.header {
  min-height: 104px;
}

.show {
  display: flex !important;
}