/* stylelint-disable */

@font-face {
  font-family: IRANYekan;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/iranyekan/eot/iranyekanwebbold.eot');
  src: local('iranyekan'),
    url('../fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/iranyekan/woff/iranyekanwebbold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/ttf/iranyekanwebbold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: IRANYekan;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/iranyekan/eot/iranyekanwebregular.eot');
  src: local('iranyekan'),
    url('../fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/iranyekan/woff/iranyekanwebregular.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/ttf/iranyekanwebregular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: IRANYekan;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/iranyekan/eot/iranyekanwebmedium.eot');
  src: local('iranyekan'),
    url('../fonts/iranyekan/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/iranyekan/woff/iranyekanwebmedium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/ttf/iranyekanwebmedium.ttf') format('truetype');
  font-display: swap;
}
